{
  "extends": ["airbnb", "prettier", "prettier/react", "eslint:recommended"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "every": ["nesting", "id"]
        },
        "allowChildren": true
      }
    ],
    "no-console": "off",
    "react/prop-types": 0,
    "react/no-unused-state": true,
    "no-underscore-dangle": 0,
    "react/destructuring-assignment": "always",
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/no-unused-prop-types": false,
    "import/prefer-default-export": false,
    "react/no-access-state-in-setstate": false,
    "react/require-default-props": false,
    "react/prefer-stateless-function": [
      {
        "ignorePureComponents": "ignorePureComponents"
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
